# Ignore log files
*.log

# Ignore temp files
*~

# Ignore files
history
recentf
.last-package-update-day
.lsp-session-v1
extras/custom.el
tramp

# Ignore folders
url/
elpa/
elfeed/
auto-save-list/
transient/
url/
.cache/
eln-cache/
elpa.bak/
emacs-backup/
eshell/
transient/
tree-sitter/